{% extends 'base.html' %}

{% block content %}

<div class="col">

    <h2>Login</h2>
    
    <!-- Formulario usuario-->

    <form method="post">

        {% csrf_token %}

        <div class="form-group">
            <labe for="username">Username</labe>
            <input type="text" name="username" class="form-control">
        </div>

            <!-- Formulario password-->
            
        <div class="form-group">
            <labe for="Password">Password</labe>
            <input type="password" name="password" class="form-control">
        </div>
    

    <button type="submit" class="btn btn-primary">Login</button>
    </form>


</div>

{% endblock %}

